.iconStyle
  position absolute
  left -39px
  top 0
  bottom -1px
  padding 0 12px
  background Basic200
  cursor pointer
  justify-content center

.docTitle
  font-size: 30px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;

.noDoc
  color: Basic600;
  text-align: center;
.noDocText
  margin: 17px 0px 0px 70px;
.noData
  margin: 0 50%;
  width: 80px;
  height: 80px;
  fill: Basic400;
