.container
  width: 246px;
  border-radius: 2px;
  border: dashed 1px rgba(0, 0, 0, 0.3);
  padding: 20px;
  position absolute
  top: 0
  right 0

.headTitle
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.39;
  letter-spacing: 4px;
  color: #000000;
  text-transform: uppercase;

.text
.title
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;

.title
  color: rgba(0, 0, 0, 0.3);

.item
  margin-top: 12px;
