Basic1000 = #000000
Basic800 = #323232
Basic600 = #939393
Basic400 = #D7D7D7
Basic300 = #E6E6E6
Basic200 =  #F5F5F5
Basic100 = #FFFFFF
Yellow600 = #FFCB02
Yellow400 = #FFE06E
Yellow200 = #FFF5CC
Green600 = #00A825
Red600 = #FF0000
Grey600 = #b5b5b5

$fontFamily = Helvetica, sans-serif;

$fontSizeDefault = 14px;
$fontSizeMedium = 16px;
$fontSizeBold = 18px;
$fontSizeBolder = 45px;

$letterSpacing = 4px;
$letterSpacingSmall = 2px;

