.dropBtn
  border: 1px solid Basic800;
  border-radius: 2px;
  padding: 0;
  
  &:disabled
    background Basic200
    border-color Basic400
    color Basic600
    cursor default

    svg
      opacity .4

.hasError
  border-color Red600

.inputPadding
  padding: 9px;
