a.btnFromLink
  text-decoration: none;
  box-sizing: border-box;

label.btnFile
  input
    display none

.pending
  position: absolute;
  top: calc(50% - 6px);
  left: calc(50% - 6px);

.button
  border-radius: 27px;
  font-size: 16px;
  letter-spacing: 4px;
  line-height: 20px;
  padding 17px 24px;
  background-color: Basic200;
  border 1px solid Basic300
  color: Basic800;
  cursor pointer
  position: relative;

  &:hover
    background-color: Basic300;
    border 1px solid Basic300
    color Basic1000

  &:active
    background-color: Basic400;
    border: 1px solid Basic400;
    color Basic800

  &:disabled
  &[disabled]
    background-color: Basic200;
    border 1px solid Basic300
    color: Basic800;
    cursor default



.small
  font-size: 14px;
  text-align: center;
  min-width: 160px;
  height: 38px;
  line-height: 37px;
  padding: 0px 15px;
  letter-spacing: 1px;

.action
  color: Basic100;
  background-color: Basic1000;
  border: 1px solid Basic1000;

  &:hover
    background-color: Basic800;
    border: 1px solid Basic800;
    color Basic100

  &:active
    background-color: Basic800;
    border: 1px solid Basic800;
    color: Basic400;

  &:disabled
  &[disabled]
    background-color: Basic600;
    border: 1px solid Basic800;
    color: Basic400;
    cursor default





