.closeIcon
  cursor pointer
  opacity: 0.6
  margin: 16px 23px
  &:hover
    opacity: 1

.fileRow
  height: 50px
  min-height: 50px
  background-color: Basic200

.fileInfo
  margin: 15px 23px
  font-size: 16px
  width: 100%

.selectType
  width: 100%