.separator
.link
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: Basic600;
  text-decoration: none;
  word-break break-all

.separator
  margin: 2px 10px;
