.orderHeadText
  font-size: 35px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
  margin-top: 10px;

.tab
  text-transform: uppercase;

.addOrderBtn {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 2.5px;
  padding 10px 20px;
}

.addOrderBtn a {
  font-size: 16px;
  text-decoration: none;
  color: black;
}

.contractWrapper
  position relative