.stepSide {
  width: 400px;
}

.formSide {
  margin-left: 10px;
  min-width: 450px;
}

.stepTitle {
  width: 150px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.39;
  letter-spacing: 4px;
  color: #000000;
}

.step {
  margin-top: 15px;
  margin-bottom: 30px;
}

.step1FormTitle {
  font-size: 35px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

.deleteMargin
  margin: 0;

.row1Style {
}

.groupInput {
  margin-right: 30px;
  width: 100%;
}

.groupInputLast {
  margin-right: 0;
  width: 100%;
}

.tableStyle
  thead
  tbody
    td
      &:nth-of-type(1)
        width 224px
        max-width 224px

.deleteMargin
  margin: 0;
