.deliveryInfoContainer {
  width: 300px;
  height: auto;
  border-radius: 2px;
  border: dashed 1px rgba(0, 0, 0, 0.3);
  padding: 30px;
  position: absolute;
  top: 0;
  right: 0;
}

.grey {
  span {
    color: Basic600;
  }
}