.oval {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;

  &.grey {
    background-color: Basic600;
  }

  &.green {
    background-color: Green600;
  }

  &.red {
    background-color: Red600;
  }
}

.icon {
  width: 21px;
  height: 21px;
}