.fileInfoContainer {
  .label, .text {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    word-break: break-all;
  }

  .label {
    width: 130px;
  }

  .text {
    width: 270px;
  }

  height: auto;
  display: block;
  box-sizing: border-box;
}

.fileItem {
  width: 100%;
  background-color: rgba(233, 233, 233, 0.5);
  padding: 10px 15px;

  span {

  }

  svg {
    cursor: pointer;
    width: 14px;
  }
}

.label {
  color: #939393;
  width: 135px;
}